<p class="h-30 h2"></p>
<div class="container p-4" id="about">
<!--Links Section-->
<div class="col" id="links">
    <h3>Links</h3>
    <ul>
        <li> Assignment 1:
            <ul>
                <li><a href="http://54.147.189.162/hw1/survey">Survey Page (Offline, contact student for
                    access)</a></li>
                <li><a href="error.html">Error Page</a></li>
            </ul>
        </li>
        <li> Assignment 2:
            <ul>
                <li><a href="http://ec2-3-238-111-246.compute-1.amazonaws.com:8080/hw2/survey">Survey
                    Page  (Offline, contact student for
                    access)</a></li>
            </ul>
        </li>
        <li> Assignment 3:
            <ul>
                <li><a href="http://ec2-3-238-111-246.compute-1.amazonaws.com:8080/hw2/survey">Survey
                    Page</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="p-3 mb-2 bg-secondary text-white">
    <div class="row p-3">
        <div class="w-25">
            <span class="w3-xlarge">2</span><br>
            Class Partners - Lin Walton, Jamie Bowers
        </div>
        <div class="w-25">
            <span class="w3-xlarge">3</span><br>
            Assignments Done
        </div>
        <div class="w-25">
            <span class="w3-xlarge">1</span><br>
            Epic Websites
        </div>
        <div class="w-25">
            <span class="w3-xlarge">3</span><br>
            Unicorns
        </div>
    </div>
</div>
</div>
