<!-- Container (About Section) -->
<p class="h-30 h2"></p>
<div class="container p-4" id="about">
    <h3>ABOUT ME</h3>
    <p><em>Unicorns are Awesome!</em></p>
    <p>
        I am a student studying component based engineering. For the first assignment I was asked to make a main
        page
        for the course. I decided to make a unicorn theme because:
    </p>
    <ol>
        <li>My daughter likes unicorns</li>
        <li>I thought it would be funny</li>
    </ol>
    <p>
        As you may notice, I've done some web development work before (although only in an academic sense). However,
        for
        this site, I have to give most of the style credit to
        <a href="https://www.w3schools.com/w3css/w3css_templates.asp">w3schools</a> as they provided the css and
        html
        templates I based the site on.
    </p>
    <div class="row">
        <div class="col">
            <img src="../../assets/img/Deadpool+Unicorn.jpg" class="" alt="Weee!"
                 width="500" height="333">
        </div>
    </div>
</div>
